/* style sheet for whole project */ 

.no-underline {
	text-decoration: none;
}

.button-style {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

header {
	background-color: #2E0138;
	padding: 10px;
	color: white;
	border-radius: 10px;
}

footer {
	background-color: #2E0138;
	padding: 10px;
	color: white;
}

nav {
	background-color: #481054;
	padding: 10px;
	border-radius: 10px;
}

nav a {
	color: white;
	margin-right: 15px;
	text-decoration: none;
}

nav a:hover {
	color: lightgray;
}

body {
	background-color: #9F71A8;
}

.tables-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 10%;
	padding: 10px;
}
table {
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 0;
	width: auto;
	border-radius: 10px;
}
th, td {
	border: 1px solid black;
	padding: 8px; 
	text-align: left;
	width: 200px;
}

.cat_by_supercat {
	
	background-color: #481054;
	min-width: 200px;
	padding: 10px;
	margin-top: 15px;	
	color: white;
	border: none;
	table-layout: fixed;
}

.cat_by_supercat_cell {
	background-color: #9F71A8;
	color: black;
	width: 100px;
}

.sidebar {
	width: 130px;
	position: fixed;
	z-index: 1;
	left: 10px;
	background:#eee;
	overflow-x; hidden;
	padding: 9px 0;
	border-radius: 10px;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	display: block;
}

.container {
	margin-left: 130px;
	padding: 0px 10px;
}

.header {
	color: white; 
	background-color: #2E0138; 
	align: left; 
	max-width: 340px;
	border-radius: 10px;
	text-align: center;
}
