<!-- base template for html -->

<!DOCTYPE html5>

{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Strongpaw Budget{% endblock title %}</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>

	<div class="header">	
		<h1>Strongpaw Budget</h1>
	</div>

	<div class="sidebar">
		<a href="{% url 'mainpage_index' %}">Home</a>
		<a href="{% url 'transactions_index' %}">Transactions</a>
		<a href="{% url 'reports_index' %}">Reports</a>

	</div>



	<body class="container">

<!-- End top level content --> 

		{% block page_content %}{% endblock page_content %}

	</body>


	<div class="header">
		<p>By Strongpaw Coding</p>
		<p>All Rights Reserverd</p>
	</div>

</html>

